<h1>Edit an Song </h1>

<%= form_for @song, url: {action: "update"} do |f| %>
<%= f.label 'Name'%>
<%= f.text_field :name %>
<%= f.label 'Artist'%>
<%= f.collection_select :artist_id, @artist, :id, :name %>
<%= f.label 'Genre'%>
<%= f.collection_select :genre_id, @genre, :id, :name%>
<%= f.submit %>
<% end %>